
<br>
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Thank you!</h1>
        <p><br>Thank you for participating in your first writer's conference. Please check back soon for more information.</p>
        <p>
		<button type="submit" class="btn"><%= link_to("Logout", destroy_user_session_path(current_user), method: :delete)%></button>
        </p>
      </div>

 <footer>
    <p>&copy; Hall Sipley 2013</p>
</footer>